body {
   background-color: #B3E5FC;
   font-family: 'Ubuntu', sans-serif;
   margin: 0;
}

.header {
   margin: 2em 5% 0;
}

.header h1 {
   color: white;
   background-color: black;
   /*background-color: #F06292;*/
   display: inline-block;
   padding: 15pt 20pt;
   font-weight: 700;
   font-size: 40pt;
   font-family: 'Kaushan Script;
   margin: 0;
}

.header .rightBar {
   background-color: white;
   display: inline-block;
   float: right;
   padding: 15pt;
   margin-top: 28pt;
}

.header .rightBar a {
   text-decoration: none;
   color: #01579B;
   padding: 10px;
   font-size: 15pt;
}

.header .rightBar a:hover {
   background-color: #F06292; 
   color: white;
}

#mainBox {
   display: none;
   margin: 100px 24.5vw;
   background-color: rosybrown;
}

#mainBox #temp {
   text-align: center;
   margin: 0;
   background-color: navajowhite;
   display: inline-block;
   font-size: 20vw;
}

#mainBox .sidebar {
   background: lightgreen;
   display: inline-block;
   vertical-align: top;
   width: 20vw;
}

#mainBox .sidebar .icon {
   font-size: 10vh;
   text-align: center;
   width: 100%;
}

#mainBox .sidebar .sidebarText {
   margin: 5px 0;
   width: 100%;
   text-align: center;
}

#mingoCanvas {
   height: 100%;
   width: 100%;
   position: fixed;
   left: 0;
   top: 0;
   z-index: -1;
}