body {
   background-color: #B3E5FC;
   font-family: 'Ubuntu', sans-serif;
   margin: 0;
}

.header {
   margin: 0 5%;
}

.header h1 {
   color: white;
   background-color: #F06292;
   display: inline-block;
   padding: 15pt 20pt;
   font-weight: 700;
   font-size: 40pt;
}

#mingoCanvas {
   height: 100%;
   width: 100%;
   position: fixed;
   left: 0;
   top: 0;
   z-index: -1;
}